/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #505050;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote {
  quotes: none; }

blockquote::after,
blockquote::before {
  content: ''; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Landing Page
-------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

/* Landing Page
-------------------------------------------------------------- */
/* cover */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url("http://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/af415bdd2cda/assets/img/home/hero_photos/uq7E1Tf9g8IxXLSO9cMDOw.jpg");
  background-position: center center;
  background-size: cover;
  /* title container */
  /* search container */ }
  .cover .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1; }
  .cover .title-container {
    width: 90%;
    margin: 20px auto 40px;
    color: #fff;
    text-align: center;
    z-index: 2; }
    .cover .title-container .title-modifier {
      color: #f25b4f;
      font-weight: 600; }
    @media (min-width: 768px) {
      .cover .title-container {
        width: 80%; } }
    @media (min-width: 1024px) {
      .cover .title-container {
        width: 60%; } }
  .cover h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 6.25rem;
    text-transform: uppercase; }
  .cover .search-container {
    width: 90%;
    margin: 0 auto;
    z-index: 2; }
    @media (min-width: 768px) {
      .cover .search-container {
        display: flex;
        width: 80%; } }
    @media (min-width: 1024px) {
      .cover .search-container {
        width: 60%; } }
    .cover .search-container .input-container {
      width: 100%; }
      @media (min-width: 768px) {
        .cover .search-container .input-container {
          display: flex;
          width: 80%; } }
      .cover .search-container .input-container input {
        width: 100%;
        margin-bottom: 10px; }
        @media (min-width: 768px) {
          .cover .search-container .input-container input:nth-child(1) {
            width: 60%;
            margin-right: 10px; } }
        @media (min-width: 768px) {
          .cover .search-container .input-container input:nth-child(2) {
            width: 40%;
            margin-right: 10px; } }
    .cover .search-container .btn-container {
      width: 100%; }
      @media (min-width: 768px) {
        .cover .search-container .btn-container {
          width: 20%; } }
      .cover .search-container .btn-container .btn {
        width: 100%;
        transition: all ease-in-out .15s;
        border: 0;
        background-color: #f25b4f;
        border: 1px solid #f25b4f;
        color: #fff; }
        .cover .search-container .btn-container .btn:hover {
          background-color: #f6877e;
          border: 1px solid #f6877e;
          color: #fff; }
    .cover .search-container h2 {
      padding-bottom: 20px;
      text-align: center; }

/* Header
-------------------------------------------------------------- */
.header {
  min-width: 320px;
  padding: 15px;
  background: #f25b4f; }
  .header a {
    position: relative;
    color: #fff; }
    .header a:hover {
      top: -4px; }
  .header .wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .header .wrapper {
        width: 80%; } }
  .header .logo-container {
    display: none;
    margin-right: 20px; }
    @media (min-width: 768px) {
      .header .logo-container {
        display: block;
        width: 25%; } }
    .header .logo-container h2 {
      display: inline-block;
      font-size: 2rem;
      font-weight: 600; }
  .header .search-container {
    width: 100%; }
    @media (min-width: 768px) {
      .header .search-container {
        display: flex;
        width: 75%; } }
  @media (min-width: 768px) {
    .header .input-container {
      display: flex;
      width: 80%; } }
  @media (min-width: 1024px) {
    .header .input-container {
      width: 85%; } }
  .header .input-container input {
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .header .input-container input:nth-child(1) {
        width: 60%;
        margin-right: 10px; } }
    @media (min-width: 1024px) {
      .header .input-container input:nth-child(1) {
        width: 70%; } }
    @media (min-width: 768px) {
      .header .input-container input:nth-child(2) {
        width: 40%;
        margin-right: 10px; } }
    @media (min-width: 1024px) {
      .header .input-container input:nth-child(2) {
        width: 30%; } }
  .header .btn-container {
    width: 100%; }
    @media (min-width: 768px) {
      .header .btn-container {
        width: 20%; } }
    @media (min-width: 1024px) {
      .header .btn-container {
        width: 15%; } }
    .header .btn-container .btn {
      width: 100%;
      transition: all ease-in-out .15s;
      border: 0;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff; }
      .header .btn-container .btn:hover {
        border: 1px solid #fff;
        background-color: #fff;
        color: #f25b4f; }

/* Venues
-------------------------------------------------------------- */
.venues-container {
  width: 90%;
  min-width: 320px;
  min-height: 460px;
  margin: 60px auto 40px; }
  @media (min-width: 768px) {
    .venues-container {
      width: 80%; } }
  @media (min-width: 1024px) {
    .venues-container {
      width: 60%; } }
  .venues-container .venue {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff; }
    .venues-container .venue:last-of-type {
      border: 0; }
    .venues-container .venue .img-container {
      display: inline-block;
      width: 88px;
      height: 88px;
      margin-right: 20px;
      border-radius: 3px;
      background-color: #c7cdcf;
      line-height: 0; }
      .venues-container .venue .img-container .venue-avatar {
        width: 100%;
        height: 100%; }
    .venues-container .venue .info-container {
      width: 80%; }
      .venues-container .venue .info-container h4 {
        padding-bottom: 14px;
        color: #f25b4f;
        font-size: 1.75rem;
        font-weight: 600; }
      .venues-container .venue .info-container p {
        color: #1c1c1b;
        font-weight: 100; }

/* Footer
-------------------------------------------------------------- */
footer {
  min-width: 320px;
  margin-top: 60px;
  background-color: #f25b4f;
  color: #fff; }
  footer .wrapper {
    width: 90%;
    margin: 0 auto; }
  footer p {
    padding: 20px 0;
    font-weight: 400;
    text-align: center; }
  footer a {
    position: relative;
    margin: 0;
    padding: 10px 0;
    transition: all ease-in-out .15s;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer; }
    footer a:hover {
      top: -4px;
      color: #fff;
      text-decoration: none; }
