/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #505050;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote {
  quotes: none; }

blockquote::after,
blockquote::before {
  content: ''; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Landing Page
-------------------------------------------------------------- */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

/* Landing Page
-------------------------------------------------------------- */
/* cover */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url("http://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/af415bdd2cda/assets/img/home/hero_photos/uq7E1Tf9g8IxXLSO9cMDOw.jpg");
  background-position: center center;
  background-size: cover;
  /* title container */
  /* search container */ }
  .cover .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1; }
  .cover .title-container {
    width: 90%;
    margin: 20px auto 40px;
    color: #fff;
    text-align: center;
    z-index: 2; }
    .cover .title-container .title-modifier {
      color: #f25b4f;
      font-weight: 600; }
    @media (min-width: 768px) {
      .cover .title-container {
        width: 80%; } }
    @media (min-width: 1024px) {
      .cover .title-container {
        width: 60%; } }
  .cover h1 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 6.25rem;
    text-transform: uppercase; }
  .cover .search-container {
    width: 90%;
    margin: 0 auto;
    z-index: 2; }
    @media (min-width: 768px) {
      .cover .search-container {
        display: flex;
        width: 80%; } }
    @media (min-width: 1024px) {
      .cover .search-container {
        width: 60%; } }
    .cover .search-container .input-container {
      width: 100%; }
      @media (min-width: 768px) {
        .cover .search-container .input-container {
          display: flex;
          width: 80%; } }
      .cover .search-container .input-container input {
        width: 100%;
        margin-bottom: 10px; }
        @media (min-width: 768px) {
          .cover .search-container .input-container input:nth-child(1) {
            width: 60%;
            margin-right: 10px; } }
        @media (min-width: 768px) {
          .cover .search-container .input-container input:nth-child(2) {
            width: 40%;
            margin-right: 10px; } }
    .cover .search-container .btn-container {
      width: 100%; }
      @media (min-width: 768px) {
        .cover .search-container .btn-container {
          width: 20%; } }
      .cover .search-container .btn-container .btn {
        width: 100%;
        border: 0;
        background-color: #f25b4f;
        border: 1px solid #f25b4f;
        color: #fff; }
        .cover .search-container .btn-container .btn:hover {
          background-color: #f47167;
          color: #fff; }
    .cover .search-container h2 {
      padding-bottom: 20px;
      text-align: center; }

/* Nav
-------------------------------------------------------------- */
.nav {
  padding: 10px;
  background: #f04537;
  color: #fff; }
  .nav .wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .nav .wrapper {
        width: 80%; } }
    @media (min-width: 1024px) {
      .nav .wrapper {
        width: 90%; } }
  .nav .logo-container {
    display: none;
    margin-right: 20px; }
    @media (min-width: 768px) {
      .nav .logo-container {
        display: block;
        width: 20%;
        text-align: center; } }
    .nav .logo-container h2 {
      display: inline-block;
      font-size: 2rem;
      font-weight: 600; }
  .nav .search-container {
    width: 100%; }
    @media (min-width: 768px) {
      .nav .search-container {
        display: flex;
        width: 80%; } }
  @media (min-width: 768px) {
    .nav .input-container {
      display: flex;
      width: 90%; } }
  .nav .input-container input {
    width: 100%;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .nav .input-container input:nth-child(1) {
        width: 60%;
        margin-right: 10px; } }
    @media (min-width: 1024px) {
      .nav .input-container input:nth-child(1) {
        width: 70%; } }
    @media (min-width: 768px) {
      .nav .input-container input:nth-child(2) {
        width: 40%;
        margin-right: 10px; } }
    @media (min-width: 1024px) {
      .nav .input-container input:nth-child(2) {
        width: 30%; } }
  .nav .btn-container {
    width: 100%; }
    @media (min-width: 768px) {
      .nav .btn-container {
        width: 20%; } }
    @media (min-width: 1024px) {
      .nav .btn-container {
        width: 10%; } }
    .nav .btn-container .btn {
      width: 100%;
      border: 0;
      background-color: #f47167;
      border: 1px solid #f47167; }
      .nav .btn-container .btn:hover {
        background-color: #fff;
        color: #f47167; }
        .nav .btn-container .btn:hover a {
          color: #f47167; }
      .nav .btn-container .btn a {
        color: #fff;
        text-decoration: none; }

/* Venues
-------------------------------------------------------------- */
.venues-container {
  width: 90%;
  margin: 40px 0;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .venues-container {
      width: 80%; } }
  @media (min-width: 1024px) {
    .venues-container {
      width: 60%; } }
  .venues-container .venue {
    display: flex;
    width: 100;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0; }
    .venues-container .venue .img-container {
      width: 20%;
      margin-right: 20px; }
      .venues-container .venue .img-container .venue-avatar {
        width: 100%;
        height: auto;
        border-radius: 4px; }
    .venues-container .venue .info-container {
      width: 80%; }
      .venues-container .venue .info-container h4 {
        padding-bottom: 14px;
        font-weight: 600;
        font-size: 1.75rem;
        color: #f25b4f; }
      .venues-container .venue .info-container p {
        font-weight: 100;
        color: #1c1c1b; }

/* Footer
-------------------------------------------------------------- */
footer {
  margin-top: 60px;
  background-color: #f04537;
  color: #fff; }
  footer p {
    padding: 20px 0;
    font-weight: 400;
    text-align: center; }
  footer a {
    position: relative;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer; }
    footer a:hover {
      top: -4px;
      color: #fff;
      text-decoration: none; }
