/* Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    vertical-align: baseline;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #505050;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote {
    quotes: none;
}

blockquote::after,
blockquote::before {
    content: '';
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* navBar
-------------------------------------------------------------- */

.nav {
    background: darken(#f25b4f, 5%);

    color: white;
    padding: 10px;
    button {
        background: #66e0ff;
    }
}

.container {
    margin: 0 auto;
    display: flex;

}

.search-container {
    width: 100%;
    
    @media (min-width: 768px) {
        display: flex;
        width: 80%;
    }
}

.input-container {
    
    @media (min-width: 768px) {
        display: flex;
        width: 90%;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        &:nth-child(1) {
            @media (min-width: 768px) {
                width: 70%;
                margin-right: 10px;
            }
        }
        &:nth-child(2) {
            @media (min-width: 768px) {
                width: 30%;
                margin-right: 10px;
            }
        }
    }
}

.btn-container {
    width: 100%;
    @media (min-width: 768px) {
        width: 10%;
    }
    button {
		width: 100%;
		background-color: lighten(#f25b4f,5%);
		border: 0;

		&:hover {
			background-color: #fff;
			color: lighten(#f25b4f,5%);
		}
   }
}

.logo-container {
    display: none;
    margin-right: 20px;
    
    @media (min-width: 768px) {
        display: block;
        text-align: center;
        width: 20%;
    }

    h2 {
    	display: inline-block;
    }
}
