/* Nav
-------------------------------------------------------------- */
.nav {
	padding: 10px;
	background: darken(#f25b4f, 5%);
	color: #fff;

	.wrapper {
		display: flex;
		width: 90%;
		margin: 0 auto;

		@media (min-width: 768px) {
			width: 80%;
		}

		@media (min-width: 1024px) {
			width: 90%;
		}
	}

	.logo-container {
		display: none;
		margin-right: 20px;
		@media (min-width: 768px) {
			display: block;
			width: 20%;
			text-align: center;
		}

		h2 {
			display: inline-block;
			font-size: 2rem;
			font-weight: 600;
		}
	}

	.search-container {
		width: 100%;
		@media (min-width: 768px) {
			display: flex;
			width: 80%;
		}
	}

	.input-container {
		@media (min-width: 768px) {
			display: flex;
			width: 90%;
		}

		input {
			width: 100%;
			margin-bottom: 10px;

			&:nth-child(1) {
				@media (min-width: 768px) {
					width: 60%;
					margin-right: 10px;
				}
				@media (min-width: 1024px) {
					width: 70%;
				}
			}

			&:nth-child(2) {
				@media (min-width: 768px) {
					width: 40%;
					margin-right: 10px;
				}
				@media (min-width: 1024px) {
					width: 30%;
				}
			}
		}
	}

	.btn-container {
		width: 100%;
		@media (min-width: 768px) {
			width: 20%;
		}
		@media (min-width: 1024px) {
			width: 10%;
		}

		.btn {
			width: 100%;
			border: 0;
			background-color: lighten(#f25b4f, 5%);
			border: 1px solid lighten(#f25b4f, 5%);

			&:hover {
				background-color: #fff;
				color: lighten(#f25b4f, 5%);

				a {
					color: lighten(#f25b4f, 5%);
				}
			}

			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}


/* Venues
-------------------------------------------------------------- */

.venues-container {
	width: 90%;
	margin: 40px 0;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 768px) {
		width: 80%;
	}
	@media (min-width: 1024px) {
		width: 60%;
	}

	.venue {
		display: flex;
		width: 100;
		margin-bottom: 5px;
		padding: 20px;
		background-color: #fff;
		border-bottom: 1px solid #d0d0d0;

		.img-container {
			width: 20%;
			margin-right: 20px;

			.venue-avatar {
				width: 100%;
				height: auto;
				border-radius: 4px;
			}
		}

		.info-container {
			width: 80%;

			h4 {
				padding-bottom: 14px;
				font-weight: 600;
				font-size: 1.75rem;
				color: #f25b4f;
			}

			p {
				font-weight: 100;
				color: #1c1c1b;
			}

		}
	}
}

/* Footer
-------------------------------------------------------------- */
footer {
	margin-top: 60px;
	background-color: darken(#f25b4f, 5%);
	color: #fff;

	p {
		padding: 20px 0;
		font-weight: 400;
		text-align: center;
	}

	a {
		position: relative;
		margin: 0;
		padding: 10px 0;
		color: #fff;
		font-weight: 600;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			top: -4px;
			color: #fff;
			text-decoration: none;
		}
	}
}
