<!DOCTYPE html>
<html ng-app="eatApp" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EAT OUT!</title>

	<!-- CSS Frameworks & Libraries -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,900|PT+Sans:100,200,400,600">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<section class="cover">
		<div class="filter"></div>
		<div class="title-container">
			<h1><span class="title-modifier">Eat</span> Out!</h1>
			<p>Find the best places to eat in any city in the world. Access more than 75 million short tips from local experts.</p>
		</div>
		<div ng-controller="searchController" class="search-container">
			<div class="input-container">
				<input ng-model="query" id="search_location" class="form-control" type="text" placeholder="sushi, hamburguesería, Burger King..">
				<input ng-model="location" id="search_query" class="form-control" type="text" placeholder="Barcelona, Spain">
			</div>
			<div class="btn-container">
				<button ng-click="searchQuery()" class="btn btn-default" type="submit">  Search  </button>
			</div>
		</div>
	</section>

	<!-- JS Frameworks & Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

	<!-- Custom JS -->
	<script src="js/app.js"></script>
	<script src="js/controllers/searchController.js"></script>
	<script src="js/services/foursquareService.js"></script>

</body>

</html>
