/* Footer
-------------------------------------------------------------- */
footer {
	min-width: 320px;
	background-color: $c-primary;
	color: $c-white;

	.wrapper {
		width: 70%;
		margin: 0 auto;
	}

	p {
		width: 100%;
		padding: 20px 0;
		font-weight: 400;
		text-align: center;
	}

	a {
		position: relative;
		margin: 0;
		padding: 10px 0;
		transition: all ease-in-out .15s;
		color: $c-white;
		font-weight: $fw-bold;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			top: -4px;
			color: $c-white;
			text-decoration: none;
		}
	}
}
