<header class="header">
	<div class="wrapper">
		<div class="logo-container">
			<h2>Eat Out!</h2>
		</div>
		<div class="search-container">
			<div class="input-container">
				<input type="text" class="form-input" placeholder="sushi, hamburguesería, Burger King..">
				<input type="text" class="form-input" placeholder="Barcelona, Spain">
			</div>
			<div class="btn-container">
				<button type="submit" class="btn"><i class="fa fa-search"></i> Search </button>
			</div>
		</div>
	</div>
</header>
