<div class="map-container">
	<ng-map default-style="false" zoom="14" center="{{venues[0].location.lat}},{{venues[0].location.lng}}">
	    <div ng-repeat="venue in venues">
	        <marker id="venue{{$index}}" animation="DROP" position="{{venue.location.lat}},{{venue.location.lng}}" on-click="map.showInfoWindow('info{{$index}}')"></marker>
	        <info-window id="info{{$index}}" max-width="200">
	            <div>
	                <strong><a class="info-window-link" href="#/search/{{venue.id}}">{{venue.name}}</a></strong>
	            </div>
	        </info-window>
	    </div>
	</ng-map>
</div>
