/* cover */
.cover {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-image: url('http://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_large_assets/af415bdd2cda/assets/img/home/hero_photos/uq7E1Tf9g8IxXLSO9cMDOw.jpg');
	background-position: center center;
	background-size: cover;

	/* title container */
	.title-container {
		width: 90%;
		margin: 20px auto 40px;
		color: $c-white;
		text-align: center;
		z-index: 2;

		.title-modifier {
			color: $c-primary;
			font-weight: $fw-bold;
		}
		@media (min-width: 768px) {
			width: 80%;
		}
		@media (min-width: 1024px) {
			width: 60%;
		}
	}

	h1 {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 6.25rem;
		font-weight: $fw-regular;
		text-transform: uppercase;

	}
	/* search container */
	.search-container {
		width: 90%;
		margin: 0 auto;
		z-index: 2;
		@media (min-width: 768px) {
			display: flex;
			width: 80%;
		}
		@media (min-width: 1024px) {
			width: 60%;
		}

		.input-container {
			width: 100%;
			@media (min-width: 768px) {
				display: flex;
				width: 80%;
			}

			input {
				width: 100%;
				margin-bottom: 10px;

				&:nth-child(1) {
					@media (min-width: 768px) {
						width: 60%;
						margin-right: 10px;
					}
				}

				&:nth-child(2) {
					@media (min-width: 768px) {
						width: 40%;
						margin-right: 10px;
					}
				}
			}
		}

		.btn-container {
			width: 100%;
			@media (min-width: 768px) {
				width: 20%;
			}

			.btn {
				width: 100%;
				transition: all ease-in-out .15s;
				border: 0;
				background-color: $c-primary;
				border:1px solid $c-primary;
				color: $c-white;

				&:hover {
					background-color: $c-primary-lightest;
					border:1px solid $c-primary-lightest;
					color: $c-white;
				}
			}
		}

		h2 {
			padding-bottom: 20px;
			text-align: center;
		}
	}

}
