body {
	margin: 0;
	padding: 0;
	color: $c-black;
	font-family: $ff-base;
	font-size: $fz-base;
	font-weight: $fw-regular;
	line-height: $lh-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-header;
	font-weight: $fw-bold;
	line-height: $lh-header;
}
